.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: "Rubik", sans-serif;
  color: #78909c;
  background: linear-gradient(135deg, #fff000, #ff00);
}
